<!doctype html>
<html lang="en">

<head>
  {{> header }}
</head>

<body>

  <div style="background-color:#000000">
    <div class="centered-content">
      {{> brand }}
    </div>
  </div>
  <div style="background-color:#F4F4F4">
    <div class="centered-content">
      {{> nav }}
    </div>
  </div>
  <div class="centered-content">
    <div style="background-color:#ffffff">
      <div class="ms-Grid">
        {{> breadcrumb }}
        <div class="ms-Grid-row">
          <div class="ms-Grid-col  ms-u-sm12 ms-u-md12 ms-u-lg12">
            <div class="content">
              {{{ contents }}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottombackground">
    <div class="centered-content">
      {{> footer }}
    </div>
  </div>
</body>

</html>
{{> navscript }}